@font-face {
    font-family: 'Montserrat', sans-serif;;
    src: url(../Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat', sans-serif;;
    src: url(../Fonts/Montserrat-ExtraBold.ttf);
}